{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_course_activities/nav-view-selector

    This template renders the course activities sort selector.

    Example context (json):
    {}
}}
<div data-region="view-selector" class="btn-group">
    <button type="button" class="btn btn-outline-secondary dropdown-toggle icon-no-margin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            aria-label="{{#str}} ariaviewselector, block_course_activities{{/str}}" aria-controls="menusortby">
        {{#pix}} t/sort_by {{/pix}}
        <span class="sr-only" data-active-item-text>
            {{#sortcourseactivitiescourses}}{{#str}} sortbycourses, block_course_activities{{/str}}{{/sortcourseactivitiescourses}}
            {{#sortcourseactivitiesdates}}{{#str}} sortbydates, block_course_activities {{/str}}{{/sortcourseactivitiesdates}}
        </span>
    </button>
    <div id="menusortby" role="menu" class="dropdown-menu dropdown-menu-right list-group hidden" data-show-active-item data-skip-active-class="true">
        <a
            class="dropdown-item"
            href="#view_dates_{{uniqid}}"
            data-toggle="tab"
            data-filtername="sortbydates"
            {{#sortcourseactivitiesdates}}aria-current="true"{{/sortcourseactivitiesdates}}
            aria-label="{{#str}} ariaviewselectoroption, block_course_activities, {{#str}} sortbydates, block_course_activities {{/str}}{{/str}}"
            role="menuitem"
        >
            {{#str}} sortbydates, block_course_activities {{/str}}
        </a>
        <a
            class="dropdown-item"
            href="#view_courses_{{uniqid}}"
            data-toggle="tab"
            data-filtername="sortbycourses"
            {{#sortcourseactivitiescourses}}aria-current="true"{{/sortcourseactivitiescourses}}
            aria-label="{{#str}} ariaviewselectoroption, block_course_activities, {{#str}} sortbycourses, block_course_activities {{/str}}{{/str}}"
            role="menuitem"
        >
            {{#str}} sortbycourses, block_course_activities {{/str}}
        </a>
    </div>
</div>
